.contact-body {
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        flex-direction: column;

        margin: 0 auto;
    }

    @media (max-width: 500px) {
        width: 90%;
    }

    .splash-content {
        .Header {
            font-size: 54px;
            line-height: 1.5em;
            text-align: center;
            margin: 2% auto auto auto;
            color: black;
            font-weight: bolder;
            overflow: hidden;

            // @media (max-width: 500px) {
            //   font-size: 46px
            // }
        }

        .splash-section {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;

            h4 {
                font-size: 20px;
                text-align: center;
                margin: 1% auto auto auto;
                font-weight: bold;
                color: rgb(49, 49, 49);
                text-align: center;
            }

            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                color: rgb(49, 49, 49);
                text-align: center;
            }
        }

        @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
            margin: 0;
            margin-bottom: 2rem;

            h1 {
                margin-bottom: 2rem;
            }
        }
    }
    .fa {
        color: #fdab78;
        font-size: 35px !important;
        margin: 10px;
    }
}
