.contact-us {
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        margin: 0 auto;
    }

    &__content {
        &__header {
            font-size: 1.875rem;
            line-height: 1.5em;
            text-align: center;
            color: var(--text-color);
            font-weight: bolder;
            overflow: hidden;
            padding-top: 1%;
            
            @media (min-width: 768px) {
                font-size: 2.5rem;
            }
        }

        &__description {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;

            &__icon {
                color: var(--orange);
                font-size: 35px !important;
            }

            &__text {
                font-size: 20px;
                text-align: center;
                color: var(--text-color);
                text-align: center;
                font-weight: normal;
            }
        }
     
        @media only screen and (max-width: 1024px), only screen and (max-height: 1366px) {
            padding: 2% 0% 5% 0%;

            &__header {
               margin-bottom: 2rem;
            }
        }

        @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
            margin: 0;
            padding-top: 2rem;

            &__header {
                margin-bottom: 2rem;
            }
        }
    }
}
