.contact-us {
    flex-direction: column;
    justify-content: center;
    margin: 2% 0;
    padding-bottom: 2%;
    background-color: var(--background);

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        margin: 0 auto;
    }

    @media (max-width: 500px) {
        width: 90%;
    }

    &__content {
        &__header {
            font-size: 54px;
            line-height: 1.5em;
            text-align: center;
            margin: 2% auto auto auto;
            color: var(--text-color);
            font-weight: bolder;
            overflow: hidden;
        }

        &__description {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
           
            margin-bottom: 2rem;

            &__text {
                font-size: 20px;
                text-align: center;
                margin: 1% auto auto auto;
                color: var(--text-color);
                text-align: center;
                font-weight: normal;
            }

            &__icon {
                color: var(--orange);
                font-size: 35px !important;
                margin: 10px;
            }
        }

        @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
            margin: 0;
            padding-top: 2rem;

            &__header {
                margin-bottom: 2rem;
            }
        }
    }
}
