.dashboard-application {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3rem;
    background: #ffb181;
    border-radius: 2rem;
    margin: 0 auto;

    .hackmerced-logo {
        width: 15%;
        display: block;
        margin: 0% auto 2% auto;

        @media only screen and (max-width: 600px) {
            width: 50%;
        }
    }

    h3 {
        font-weight: bolder;
        font-size: 30px;
        margin-bottom: 1rem;
        text-align: center;
    }
    ::placeholder {
        color: grey;
    }

    .application-form {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            width: 100%;

            .cell {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
                margin: 0 2%;

                input,
                select {
                    padding: 0 1rem;
                    margin: 1rem 0;
                    height: 6vh;
                    border-radius: 3rem;
                    color: grey;
                    font-size: 18px;
                    width: 100%;
                }

                ::placeholder {
                    color: grey;
                    opacity: 1;
                }

                select {
                    [disabled],
                    option:disabled {
                        color: #ccd3dd;
                    }
                }
            }

            @media only screen and (max-width: 600px) {
                flex-direction: column;

                .cell {
                    width: 100%;
                }
            }
        }

        .long-questions {
            display: flex;
            flex-direction: column;
            margin: 0 2%;

            select {
                width: 100%;
                padding: 0 1rem;
                margin: 1rem 0;
                height: 6vh;
                border-radius: 3rem;
                color: grey;
                font-size: 18px;
                width: 100%;
            }

            select {
                [disabled],
                option:disabled {
                    color: #ccd3dd;
                }
            }
        }

        .submit-application {
            margin: 2% 2% 0 auto;
            height: 3.5rem;
            font-size: 22px;
            width: 96%;
            text-align: center;
            font-weight: bolder;
            color: #ffb181;
            background: white;
            border-radius: 3rem;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease;

            &:active {
                background: #ffb181;
                color: white;
            }
        }

        .file-submission {
            margin: 2% 2% 0 auto;
            height: 3.5rem;
            font-size: 22px;
            width: 96%;
            text-align: center;
            font-weight: bold;
            color: #ffb181 !important;
            background: white;
            border-radius: 3rem;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease;
            padding: 0% 2% 0% 0%;

            &:active {
                background:#ffb181;
                color: white;
            }
        }
    }
}