.about {
    text-decoration: bold;
    line-height: 33px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1000px) {
        flex-direction: row;
    }

    &-description {
        text-decoration: bold;
        width: 69%;
        flex-direction: column;

        h1 {
            font-weight: bolder;
            margin: 2% 0 2% 35%;
            font-size: x-large;
        }

        p {
            text-align: left;

            @media (min-width: 850px) {
                width: 70%;
                margin-left: 14%;
            }

            @media (min-width: 1270px) {
              width: 80%;
              margin-left: 15%;
            }

            @media (min-width: 1800px) {
              width: 90%;
              margin-left: 4%;
            }
        }

        @media (min-width: 850px) {
          width: 100%;
        }

        @media (min-width: 1270px) {
          width: 50%;
        }
    }

    .TEAMPICTURE {
        width: 80%;

        @media (min-width: 600px) {
            width: 70%;
            margin-right: 2%;
        }

        @media (min-width: 1000px) {
          margin-top: 2%;
          width: 50%;
        }

        @media (min-width: 1270px) {
          width: 50%;
          max-width: 650px;
        }
    }
}
