.grid-container {
    display: grid;
    color: white;
    padding: 0px 2px 90px 0px;
    grid-template-columns: auto auto;
    grid-gap: 0px 50px;
    justify-content: center;

    @media only screen and (max-width: 900px) {
        grid-template-columns: auto;
        grid-gap: 50px 0px;
        padding-top: 20px;
    }

    .grid-item {
        text-align: center;
        width: 400px;
        height: 40px;
        padding-top: 6px;
        font-size: 28px;
        border-radius: 10px;
        background-color: var(--orange);

        @media only screen and (max-width: 700px) {
            font-size: 25px;
        }
        @media only screen and (max-width: 450px) {
            width: 200px;
            height: 30px;
            padding-top: 8px;
            font-size: 20px;
        }
    }

    .grid-item:hover {
        opacity: 0.8;

        // use this animation https://codepen.io/joshuahathaway/pen/LEWgoE
    }

    .grid-item:active {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }

    @keyframes glowing {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}
