.login-page {
    padding: 3% 0% 3% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    .center-container {
        position: relative;
        display: inline-block;
        width: 50vw; //sets width of the container. Changing this means you'll need to recenter the container with margin-left.
        margin-top: 1.2%;
        margin-bottom: 1%;
        background-image: linear-gradient(#ffb181, #ffb26e);
        border-radius: 65px;
        /* offset-x | offset-y | blur-radius | color */
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.212);
        @media only screen and (max-width: 1100px) {
            width: 60%;
        }
        @media only screen and (max-width: 740px) {
            width: 68%;
        }
        .logo {
            //hackmerced logo at the top
            display: block;
            margin: auto;
            padding-top: 2.5%;
            border-radius: 60px;
        }
        h1 {
            //'LOGIN' below hackmerced logo
            color: white;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            padding: 1% 0% 1% 0%;
        }
        .flex-container {
            display: flex;
            flex-wrap: wrap; //makes 'Create an Account' go under 'Forgot Password?' at lower resolutions
            justify-content: space-around; //puts even space on the left and right of contents
            padding: 0% 4% 3% 4%;
            .flex-item {
                display: inline;
                text-align: center;
            }
        }
        .loginicons {
            text-align: center; //centers everything inside loginicons div
            p {
                color: white;
                font-weight: 510;
                font-size: 22px;
                position: static;
                display: block;
                padding: 3% 0% 0% 0%;
            }
            .facebookicon {
                font-size: 80px;
                padding: 3% 1% 2% 1%;
                color: #4c6ef5;
            }
            .googleicon {
                font-size: 80px;
                padding: 3% 1% 2% 1%;
                color: #fa7000;
            }
            .githubicon {
                font-size: 80px;
                padding: 3% 2% 2% 2%;
                color: rgb(39, 38, 38);
            }
        }
         ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            opacity: 1;
            /* Firefox */
            font-weight: lighter;
            font-size: 18px;
             :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-weight: lighter;
            }
             ::-ms-input-placeholder {
                /* Microsoft Edge */
                font-weight: lighter;
            }
        }
        .emailinput {
            width: 80%;
            height: 50px;
            margin-top: 2%;
            border-radius: 65px;
            display: block;
            /* offset-x | offset-y | blur-radius | color */
            box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.212);
        }
        .passwordinput {
            width: 80%;
            height: 50px;
            margin-top: 2%;
            border-radius: 65px;
            display: block;
            /* offset-x | offset-y | blur-radius | color */
            box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.212);
        }
        .submitbutton {
            width: 45%;
            height: 70px;
            border-radius: 65px;
            background-color: white;
            color: #ffb181;
            font-weight: bold;
            font-size: 25px;
            margin: auto auto 5% auto;
            display: block;
            /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
            @media only screen and (max-width: 350px) {
                font-size: 20px;
            }
        }
        .blackicon {
            color: rgb(56, 55, 55);
            font-size: 32px;
            position: relative;
            display: inline-block;
            margin-left: 13.5%;
            bottom: 40px;
            @media only screen and (max-width: 550px) {
                font-size: 25px;
            }
            @media only screen and (max-width: 450px) {
                font-size: 20px;
                bottom: 35px;
            }
        }
    }
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

u {
    font-weight: normal;
}


/* Form */

::placeholder {
    color: rgba(0, 0, 0, 0.301);
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    text-align: left;
    opacity: 1;
    /* Firefox */
}

input[type="email"],
select {
    display: inline-block;
    margin: 0 auto;
    color: black;
    text-align: left;
    padding: 0% 0% 0% 12%; //moves location of select (input) to the right, which also moves the placeholder
}

input[type="password"],
select {
    display: inline-block;
    margin: 0 auto;
    color: black;
    text-align: left;
    padding: 0% 0% 0% 12%; //moves location of select (input) to the right, which also moves the placeholder
}