.login-page {
    padding: 3% 0% 3% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 66px);
    @media only screen and (max-height: 1024px) {
        min-height: calc(90vh - 48px);
    }
    .center-container {
        display: inline-block;
        width: 50vw; //sets width of the container. Changing this means you'll need to recenter the container with margin-left.
        height: 100%;
        background-image: linear-gradient(#ffb181, #ffb26e);
        border-radius: 65px;
        /* offset-x | offset-y | blur-radius | color */
        @media only screen and (max-width: 1100px) {
            width: 60%;
        }
        @media only screen and (max-width: 740px) {
            width: 90%;
        }
        .logo {
            //hackmerced logo at the top
            display: block;
            margin: auto;
            padding-top: 2.5%;
            border-radius: 60px;
            @media only screen and (max-width: 740px) {
                width: 25%;
            }
            /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
            @media only screen and (max-width: 350px) {
                width: 20%;
            }
        }
        h1 {
            //'LOGIN' below hackmerced logo
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 1% 0% 1% 0%;
            @media only screen and (min-width: 1100px) {
                font-size: 35px;
            }
            @media only screen and (max-width: 1100px) {
                font-size: 30px;
            }
            @media only screen and (max-width: 740px) {
                font-size: 25px;
            }
        }
        .flex-container {
            display: flex;
            flex-wrap: wrap; //makes 'Create an Account' go under 'Forgot Password?' at lower resolutions
            justify-content: space-around; //puts even space on the left and right of contents
            padding: 0% 4% 3% 4%;
            .flex-item {
                display: inline;
                text-align: center;
                @media only screen and (max-width: 1100px) {
                    font-size: 25px;
                }
                @media only screen and (max-width: 740px) {
                    font-size: 15px;
                }
                /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
                @media only screen and (max-width: 350px) {
                    font-size: 15px;
                }
            }
        }
         ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            opacity: 1;
            /* Firefox */
            font-weight: lighter;
            font-size: 18px;
             :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-weight: lighter;
            }
             ::-ms-input-placeholder {
                /* Microsoft Edge */
                font-weight: lighter;
            }
        }
        .emailinput {
            width: 80%;
            height: 50px;
            margin-top: 2%;
            border-radius: 65px;
            display: block;
            /* offset-x | offset-y | blur-radius | color */
        }
        .passwordinput {
            width: 80%;
            height: 50px;
            margin-top: 2%;
            border-radius: 65px;
            display: block;
            /* offset-x | offset-y | blur-radius | color */
        }
        .submitbutton {
            width: 45%;
            height: 70px;
            border-radius: 65px;
            background-color: white;
            color: #ffb181;
            font-weight: bold;
            font-size: 25px;
            margin: 5% auto 5% auto;
            display: block;
            @media only screen and (max-width: 1100px) {
                font-size: 25px;
            }
            @media only screen and (max-width: 740px) {
                font-size: 22px;
                width: 70%;
            }
            /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
            @media only screen and (max-width: 350px) {
                font-size: 20px;
                width: 60%;
            }
        }
        .blackicon {
            color: rgb(56, 55, 55);
            font-size: 32px;
            position: relative;
            display: inline-block;
            margin-left: 13.5%;
            bottom: 40px;
            @media only screen and (max-width: 550px) {
                font-size: 25px;
            }
            @media only screen and (max-width: 450px) {
                font-size: 20px;
                bottom: 35px;
            }
        }
    }
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

u {
    font-weight: normal;
}


/* Form */

::placeholder {
    color: rgba(0, 0, 0, 0.301);
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    text-align: left;
    opacity: 1;
    /* Firefox */
}

input[type="email"],
select {
    display: inline-block;
    margin: 0 auto;
    color: black;
    text-align: left;
    padding: 0% 0% 0% 12%; //moves location of select (input) to the right, which also moves the placeholder
    @media only screen and (max-width: 1100px) {
        font-size: 25px;
    }
    @media only screen and (max-width: 740px) {
        font-size: 20px;
    }
    /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
    @media only screen and (max-width: 350px) {
        width: 10%;
    }
}

input[type="password"],
select {
    display: inline-block;
    margin: 0 auto;
    color: black;
    text-align: left;
    padding: 0% 0% 0% 12%; //moves location of select (input) to the right, which also moves the placeholder
}
