.calendar {
    margin: auto;
    background-color: #eeebf5;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        width: 18em;
        padding: 0.02em 0.2em;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        width: 25em;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        width: 35em;
        padding: 2em 3em;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        width: 34em;
    }
}

.calendar_header {
    // font-size: 1.5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.header_title {
    text-align: center;
    color: black;
    font-weight: bold;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 1em;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 1em;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 1em;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 1.6em;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 1.6em;
    }
}

.side-by-side {
    margin-top: 5%;
    page-break-after: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar_subheader {
    text-align: center;
    font-weight: bold;
    color: #ffb181;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 0.8em;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 0.8em;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 1em;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 1.2em;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 1.2em;
    }
}

.calendar_plan {
    color: white;
    margin: 2em 0 4em 0;
    padding: 3em;
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.75);

    display: flex;
}

.day_title {
    font-size: 2.2em;
    font-weight: 600;
}

.day_body {
    font-size: 2em;
    float: left;
    line-height: 2em;
    text-align: center;
}
.day_add {
    margin-left: 20px;
    float: left;
    border-radius: 50%;
    background-color: white;
    width: 4em;
    height: 4em;

    text-align: center;
    line-height: 4em;
}

.plus_sign::after {
    font-size: 4em;
    content: '+';
    color: black;
}

.calendar_events {
    clear: both;
    color: black;
}
.calendar_events_title {
    font-size: 1.5em;
    padding: 3% 0% 0% 0%;
    text-align: center;
}
.event_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        margin-top: 1.8em;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        margin-top: 1.8em;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        margin-top: 1.8em;
    }
}
