.LandingDesign {
    @media (width: 1024px) and (height: 1366px) {
        height: 800px !important;
    }
    &__container {
        background-image: url('../../assets/images/landing-page-hmvi.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: relative;
        &__button {
            margin: 0;
            position: absolute;
            font-size: 0.8rem;
            top: 88%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            border-radius: 20px;
            transition: 0.2s all;
            text-align: center;
            padding: 2.8%;
            color: white;
            background-color: #ff785a;
            @media (min-width: 1000px) {
                font-size: 1.2rem;
                padding: 1.5%;
            }
            &:before {
                content: '';
                position: absolute;
                top: 100%;
                right: 5%;
                width: 90%;
                height: 5%;
                opacity: 0;
                box-shadow: 0 12px 16px 0 black;
                transition: 0.2s all;
                transition-delay: 0.1;
                background: radial-gradient(ellipse at center, rgpa (0, 0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
            }

            &:hover {
                color: black;
                box-shadow: 0px 0px 10px #f65331, 0px 0px 10px #ff785a;
            }

            &:hover:before {
                opacity: 1;
            }

            &:active {
                background: transparent;
                color: white;
                background-color: #272831;
            }
        }
    }
}