.title-design {
    background: #eeebf5;
    height: 810px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__abstract-painting {
        position: absolute;
        left: 10%;
        // bottom: 20%;
        height: 400px;
        width: 400px;
        border-radius: 3em;
        background-color: #b486ce;
        z-index: 2;

        @media only screen and (min-width: 1200px) {
            bottom: 100%;
            // top: 50%;
            margin: 8% 0% 0% 0%;
        }

        // @media only screen and (max-width: 1500px) {
        //     bottom: 100%;
        //     top: 50%;
        // }

        // @media only screen and (min-width: 1500px) {
        //     bottom: 100%;
        //     top: 20%;
        // }

        @media only screen and (max-width: 2000px) {
            bottom: 100%;
            top: 10%;
        }

        // @media only screen and (min-width: 1500px) {
        //     bottom: 100%;
        //     top: 20%;
        // }

        // @media only screen and (min-height: 1000px) {
        //     bottom: 100%;
        //     top: 15%;
        // }
    }

    &__background-square {
        position: absolute;
        height: 400px;
        width: 400px;
        border-radius: 3em;
        background-color: #0d0721;
        z-index: 1;
    }

    &__title {
        z-index: 1;
        float: right;
        position: relative;
        margin-top: 21%;
        display: flex;
        flex-direction: row;
        align-self: flex-end;

        @media only screen and (max-width: 400px) {
            margin-top: 30%;
        }

        @media only screen and (min-width: 550px) {
            width: 80%;
            margin-top: 10%;
        }

        @media only screen and (min-width: 700px) {
            width: 70%;
        }

        @media only screen and (min-width: 800px) {
            width: 60%;
        }

        @media only screen and (min-width: 1000px) {
            width: 50%;
        }

        @media only screen and (min-width: 1100px) {
            width: 40%;
        }

        @media only screen and (min-width: 1400px) {
            width: 500px;
        }

        @media only screen and (min-width: 1900px) {
            width: 600px;
            margin-top: 5%;
        }
    }

    &__heading {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__subtext {
            font-size: 25px;
            color: #b486ce;
            text-align: center;
            font-weight: bold;
        }

        &__text {
            font-size: 25px;
            color: #b486ce;
            text-align: center;
            font-weight: bold;
        }

        &__button {
            background-color: #ac58bc;
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            border-radius: 15px;
            transition: 0.2s all;
            text-align: center;
            width: 50%;
            padding: 20px;
            margin-top: 2%;
            font-weight: bolder;

            &:active{
                background-color:#0D0721;
                color: #EEEBF5;

            }

            @media only screen and (max-width: 1000px) {
                padding: 20px 5px;
            }

            @media only screen and (min-width: 1100px) {
                width: 20%;
            }
        }

        @media only screen and (min-width: 400px) {
            top: -100px;
        }

        @media only screen and (min-width: 500px) {
            top: -10vh;
        }

        @media only screen and (min-width: 900px) {
            top: -20vh;
        }

        @media only screen and (min-width: 1500px) {
            top: -150px;
        }

        @media only screen and (min-width: 1900px) {
            top: -300px;
        }
    }
}
