.TITLEDESIGN {
    background: #eeebf5;
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @media (max-width: 700px) {
        height: 600px;
    }

    .designmerced {
        .background-square {
            position: absolute;
            height: 55%;
            width: 30%;
            border-radius: 3em;
            background-color: #0d0721;
            z-index: 1;
        }

        .image-square {
            position: absolute;
            left: 10%;
            bottom: 30%;
            height: 50%;
            width: 30%;
            border-radius: 3em;
            background-color: #b486ce;
            z-index: 2;
        }

        .designmerced-title {
            position: absolute;
            right: 0;
            top: 20%;
        }

        .designmerced-date {
            position: absolute;
            top: 20%;
            right: 0;
        }

        .designmerced-subtext {
            font-size: 25px;
            color: #b486ce;
            text-align: center;
            font-weight: bold;
            position: absolute;
            top: 75%;
            left: 50%;
        }

        .designmerced-text {
            font-size: 25px;
            color: #b486ce;
            text-align: center;
            font-weight: bold;
            position: absolute;
            top: 70%;
            left: 50%;
        }

        .apply {
            display: flex;
            width: 500px;
            padding: 1rem;
            color: #fff;
        }

        .apply input {
            font-size: 1rem;
            flex-grow: 1;
        }

        .apply input:focus {
            color: white;
        }

        .email-input {
            color: white;
        }

        .apply * {
            border: none;
            letter-spacing: 2px;
            background-color: transparent;
            color: #fff;
        }

        .apply > button {
            cursor: pointer;
        }

        .apply > button:hover {
            color: white;
        }

        .apply-button {
            background-color: #ac58bc;
            position: absolute;
            top: 80%;
            left: 50%;
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            width: 20%;
            height: 7%;
            border-radius: 10px;
            transition: 0.2s all;
            text-align: center;

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                right: 5%;
                width: 90%;
                height: 5%;
                opacity: 0;
                box-shadow: 0 12px 16px 0 black;
                transition: 0.2s all;
                transition-delay: 0.1;
                background: radial-gradient(ellipse at center, rgpa (0, 0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
            }

            &:hover {
                transform: translateY(-5px);
                color: black;
            }

            &:hover:before {
                opacity: 1;
                transform: translateY(5px);
            }

            &:active {
                background: transparent;
                color: white;
            }
        }

        @media (max-width: 700px) {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin-top: -50% !important;

            &-title {
                margin: 0% 0 0 5% !important;
            }

            &-title,
            &-subtext,
            &-text {
                width: 80%;
            }

            &-subtext,
            &-text,
            button {
                margin: 3% 0 !important;
            }

            button {
                position: inherit;
                font-size: medium;
                height: 50px;
                width: 38%;
            }

            button:hover {
                position: inherit;
            }
        }

        @media (min-width: 1500px) {
            button {
                width: 35%;
                height: 50px;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 200ms;

        &.light {
            background: rgba(41, 40, 40, 0.9);
        }

        .cancel {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: default;
        }

        &:target {
            visibility: visible;
            opacity: 1;
        }

        .light .apply {
            border-color: #aaa;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        }

        .apply {
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            margin: 50px auto;
            padding: 0px;
            background-image: linear-gradient(#eeebf5, #b486ce);
            border: 1px solid #666;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            position: fixed;
            border-radius: 25px;

            h3 {
                display: flex;
                color: white;
                align-items: center;
                justify-content: center;
                margin: 5% 0% 5% 0%;
                font-size: 25px;
                font-weight: bold;
                font-family: Helvetica, Arial, sans-serif;
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;

                input {
                    color: black;
                    border: none;
                    border-color: black;
                    box-shadow: none;
                    padding: 0% 0% 0% 3%;
                    border-radius: 25px;
                    outline: none;
                    background-position: 0 0;
                    height: 35px;
                    width: 80%;
                }

                .form-submit-button {
                    background: white;
                    color: #b486ce;
                    border: 0px solid #aaa;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    padding: 10px 30px 10px 30px;
                    margin: 3% 0;

                    &:active {
                        background: linear-gradient(#fdab78, #faa55a);
                        color: white;
                    }
                }

                input .form-submit-button {
                    padding-bottom: 10px;
                }
            }

            @media (max-width: 700px) {
                width: 100%;
            }

            .form-label {
                padding: 0% 0% 1.5% 0%;
            }
        }
    }
}
