/* HEXAGON DESIGN code taken from and edited: https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids */

.TEAMPICTURE {
    #grid {
        position: relative;
        width: 70%; /* Scales original sizes */
        margin: 0 auto;
        padding: 0 0 5% 0; /* Padding under Grid component (under last row of hexagons) */
    }

    .clear:after {
        content: '';
        display: block;
        clear: both;
    }

    /* Parallelogram */
    #grid li {
        list-style-type: none;
        position: relative;
        float: left;
        width: 14.85714285714286%; /* Directly related to original hexagon size */
        padding: 0% 0% 17% 0%; /* Directly related to original hexagon size */
        -o-transform: rotate(-60deg) skewY(30deg);
        -moz-transform: rotate(-60deg) skewY(30deg);
        -webkit-transform: rotate(-60deg) skewY(30deg);
        -ms-transform: rotate(-60deg) skewY(30deg);
        transform: rotate(-60deg) skewY(30deg);
        background: #fd005f;
        overflow: hidden;
        visibility: hidden;
    }

    #grid li .hexagon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fdbf00;
        -o-transform: skewY(-30deg) rotate(60deg);
        -moz-transform: skewY(-30deg) rotate(60deg);
        -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
        transform: skewY(-30deg) rotate(60deg);
        overflow: hidden;
    }

    /* Makes all children of li visable */
    #grid li * {
        visibility: visible;
    }

    /* Makes every 2 child have padding on left and right of itself */
    #grid li:nth-child(2n + 2) {
        margin: 0 1%;
    }

    /* Translates each child in the second row to the right a little bit, and moves them down. */
    #grid li:nth-child(6n + 7),
    #grid li:nth-child(6n + 8),
    #grid li:nth-child(6n + 9),
    #grid li:nth-child(6n + 10),
    #grid li:nth-child(6n + 11),
    #grid li:nth-child(6n + 12) {
        margin-top: -3.35%;
        margin-bottom: 0%;
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }

    /* 7th child (2nd row): Move into interlocking position, which moves the rest of the children in the row. */
    #grid li:nth-child(6n + 7) {
        margin-left: 0.4%;
    }

    .Header {
        padding: 3% 0% 2% 5%;

        h1 {
            color: black;
            font-weight: bold;
        }

        /* Media Queries taken from and edited: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

        /* Small devices (phones, portrait tablets, and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 20px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 25px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 40px;
        }
    }
}
