.application {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3rem;
    background-image: linear-gradient(#ffb181, #ffb26e);
    border-radius: 2rem;
    margin: 5% 0% 5% 10%;

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        margin-bottom: 2rem;
    }

    .hackmerced-logo {
        width: 15%;
        display: block;
        margin: 0% auto 2% auto;
    }

    h3 {
        font-weight: bolder;
        font-size: 30px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .application-form {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            width: 100%;

            .cell {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin: 0 2%;

                input,
                select {
                    padding: 0 1rem;
                    margin: 1rem 0;
                    height: 6vh;
                    border-radius: 3rem;
                    color: black;
                    font-size: 18px;
                    width: 100%;
                }

                label {
                    .required {
                        color: rgb(201, 53, 53);
                    }
                }
            }

            .left-cell {
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
            }

            .right-cell {
                width: 50%;

                label {
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                input {
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }

        .long-questions {
            display: flex;
            flex-direction: column;
            margin: 0 2%;

            select {
                width: 100%;
                padding: 0 1rem;
                margin: 1rem 0;
                height: 6vh;
                border-radius: 3rem;
                color: black;
                font-size: 18px;
                width: 100%;
            }
        }

        .submit-application {
            margin: 0 1%;
            height: 3.5rem;
            font-size: 22px;
            width: 97%;
            text-align: center;
            font-weight: bolder;
            color: orange;
            background: white;
            border-radius: 3rem;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease;

            &:active {
                background: linear-gradient(#fdab78, #faa55a);
                color: white;
            }
        }
    }
}
