.LearnDay {
    font-family: "Inter", sans-serif;

    &__title {
        background-color: #fffffb;
        // background: rgba(50,50,50,1);
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        margin: 0 auto;
        height: calc(100vh);
        display: grid;

        &__texts {
            &__main-text {
                font-size: 70px;
                color: #5b5f97;
                font-weight: normal;
                margin-top: 25vh;

                @media only screen and (max-width: 800px) {
                    font-size: 60px;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 50px;
                }
            }

            &__sub-text {
                font-size: 30pt;
                color: #ff6b6c;

                @media only screen and (max-width: 800px) {
                    font-size: 24pt;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 18pt;
                }
            }

            &__paragraph {
                font-size: 20px;
                color: black;
                font-weight: 300;
                line-height: 30px;
                margin-bottom: 4%;

                @media only screen and (max-width: 800px) {
                    font-size: 18px;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 16px;
                    margin-bottom: 16%;
                }
            }

            &__main-text,
            &__sub-text,
            &__paragraph {
                padding: 0 0 0 15vw;
                width: 50%;

                @media only screen and (max-width: 1200px) {
                    width: 70%;
                }
            }

            .LHD__button {
                position: absolute;
                max-width: 155px;
                line-height: normal;
                font-size: 18px;
                color: black;
                text-transform: uppercase;
                border-radius: 25px;
                transition: 0.4s ease 0s;
                text-align: center;
                display: inline-block;
                padding: 20px;
                border: 4px solid #ffc145;
                background-color: #ffc145;
                cursor: pointer;

                /* Small devices (200px and up) */
                @media only screen and (min-width: 200px) and (max-width: 775px) {
                    width: 60%;
                    padding-top: 4%;
                    // margin: 5% 30% 0% 20%;
                    margin: 0% 30% 0% 30%;
                    text-align: center;
                }

                /* Medium-large devices (laptops and desktops, 775px and up) */
                @media only screen and (min-width: 775px) {
                    width: 20%;
                    margin: 0% 40%;
                }
            }
        }

        @media only screen and (max-width: 1200px) {
            //merge grid-container into one column with two rows
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }

        &__honeycomb {
            background: rgba(255, 255, 251, 0.05);
            width: 100%;
            height: 100%;
        }
    }
}
