@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3rem;
    background-image: var(--gradient);
    border-radius: 2rem;
    margin: 2% 7% 0 7%;

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        margin-bottom: 2rem;
    }

    &__title {
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__input {
        display: flex;
        flex-direction: column;

        &__field,
        &__text-area {
            padding: 0 1rem;
            margin: 1rem 0;
            height: calc(2.5rem - 8px);
            border-radius: 0.75rem;
            color: black;
            font-size: 18px;
            border: none;
        }

        &__text-area {
            flex: 1;
            padding: 0.5rem 1rem;
        }
    }

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    ::placeholder {
        opacity: 1; /* Firefox */
        font-weight: lighter;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
    }

    /* Internet Explorer 10-11 */
    :-ms-input-placeholder {
        font-weight: lighter;
    }

    /* Microsoft Edge */
    ::-ms-input-placeholder {
        font-weight: lighter;
    }

    &__submit {
        padding: 0 1rem;
        margin: 1rem 0;
        height: 2.5rem;
        font-size: 20px;
        color: var(--orange);
        background: white;
        border-radius: 0.75rem;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: bold;

        &:active {
            background: var(--gradient);
            color: white;
        }
    }

    /* Define an animation behavior */
    @keyframes spinner {
        to {
            transform: rotate(360deg);
        }
    }

    /* This is the class name given by the Font Awesome component when icon contains 'spinner' */
    .fa-spinner {
        /* Apply 'spinner' keyframes looping once every second (1s)  */
        animation: spinner 1s linear infinite;
    }
}
