@import url("https://fonts.googleapis.com/css?family=Quicksand:300, 400, 700");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,700");

.accordion {

    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15vw;
    padding-bottom: 15%;

    @media only screen and (max-width: 500px) {
        padding-left: 0%;
    }

    &__item {
        max-width: 67vw; 

        @media only screen and (max-width: 500px) {
            padding-left: 10vw;
        }

        &__title {
            width: 67vw;
            color: #000000;
            text-align: left;
            line-height: 2;
            font-weight: normal;
            font-family: Inter;
            font-style: normal;
            position: relative;
            z-index: 100;
            transition: all 0.2s ease-in;
            font-size: 24px;
            padding-bottom:1vw;

            @media only screen and (max-width: 500px) {
                width: 100%;
                height: 80px;
                padding-bottom: 5vw;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.5);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.55);
            }

            &__arrow-wrapper {
                position: absolute;
                margin-left: 42em;

                .CLOSE_ARROW {
                    content: url("../../assets/images/close-arrow.svg");
                    font-size: 24px;
                    transition: all 0.2s ease-in;
                }

                .OPEN_ARROW {
                    font-size: 24px;
                    content: url("../../assets/images/open-arrow.svg");
                }
                @media only screen and (max-width: 500px) {
                    margin-left: 80vw;
                }
                @media only screen and (min-width:600px) and (max-width: 1024px) {
                    margin-left: 65vw;
                }
            }

            &__title-text {
                justify-content: left;
                text-align: left;
            }
        }

        &__content {
            height: 30px;
            width: 100%;
            background-color: transparent;
            color: rgb(0, 0, 0);
            font-size: 14px;
            position: relative;
            z-index: 1000;
            margin-top: -55px;
            text-align: left;
            transition: all 0.2s ease-in;
            padding-bottom: 2%;

            &__content-text {
                font-family: Quicksand;
                line-height: 17px;
                visibility: hidden;
                opacity: 0;
                overflow: auto;
                transition: all 0.2s ease-in;

                a {
                    text-decoration: underline;
                }
            }

            &__content-text-open {
                visibility: visible;
                opacity: 1;
                transition: all 0.8s ease-in;
            }
        }

        &__content-open {
            margin-top: 0px;
            height: auto;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8684c+68,e04040+100 */
            transition: all 0.2s ease-in;
        }
        .blue-line{
            border: 2px solid #5B5F97;
            
        }
    }
}

