@import url("https://fonts.googleapis.com/css?family=Quicksand:300, 400, 700");

.accordion {
    background-color: #272831;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4%;

    &__item {
        margin: 0 20px 30px 20px; //margin around each accordion_item
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 500px) {
            min-width: 90%;
        }

        &__title {
            height: 55px;
            width: 500px;
            background-color: #b63f1a;
            color: #eeebf5;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: left;
            line-height: 2;
            font-weight: lighter;
            position: relative;
            padding: 10px;
            z-index: 100;
            border-radius: 20px;
            transition: all 0.2s ease-in;

            @media only screen and (max-width: 500px) {
                width: 100%;
                height: 80px;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.5);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.55);
            }

            &__arrow-wrapper {
                position: absolute;
                margin-left: 375px;

                .fa-angle-down {
                    font-size: 20px;
                    color: rgba(255, 255, 255, 0.5);
                    transition: all 0.6s cubic-bezier(0.08, 1.09, 0.32, 1.275);
                }

                .fa-rotate-180 {
                    color: rgba(255, 255, 255, 1);
                }
            }

            &__title-text {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        &__content {
            height: 30px;
            width: 100%;
            background-color: transparent;
            border-radius: 4px;
            color: white;
            font-size: 18px;
            text-align: center;
            position: relative;
            z-index: 1000;
            margin-top: -20px;
            text-align: left;
            transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

            &__content-text {
                padding: 15px;
                visibility: hidden;
                opacity: 0;
                overflow: auto;
                transition: all 0.2s ease-in;

                a {
                    text-decoration: underline;
                }
            }

            &__content-text-open {
                visibility: visible;
                opacity: 1;
                transition: all 0.8s ease-in;
            }
        }

        &__content-open {
            margin-top: 0px;
            height: auto;
            border-radius: 30px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8684c+68,e04040+100 */
            background: #e8684c; /* Old browsers */
            background: -moz-linear-gradient(top, #e8684c 68%, #e04040 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #e8684c 68%, #e04040 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to bottom,
                #e8684c 68%,
                #e04040 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8684c', endColorstr='#e04040',GradientType=0 ); /* IE6-9 */

            transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
        }
    }
}
