.SUCCESS {
    overflow: hidden;

    .hackathons-title {
        line-height: 1em;
        text-align: center;
        color: BLACK;
        font-weight: bolder;
        overflow: hidden;
        margin: 2% 0;
        @media only screen and (min-width: 350px) {
            font-size: 25px;
        }
        @media only screen and (min-width: 600px) {
            font-size: 25px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 30px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 40px;
        }
    }

    .wrapper {
        text-align: center;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        .card {
            background-image: linear-gradient(#ffb181, #ffb26e);
            border-radius: 25px;
            margin: 1%;
            height: 170px;
            flex: 1 0 30%;

            h1 {
                color: white;
                font-weight: bold;
                margin: 4% 0% 7% 0%;

                @media only screen and (min-width: 350px) {
                    font-size: 25px;
                }
                @media only screen and (min-width: 600px) {
                    font-size: 25px;
                }
        
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (min-width: 768px) {
                    font-size: 30px;
                }
        
                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 992px) {
                    font-size: 35px;
                }
        
                /* Extra large devices (large laptops and desktops, 1200px and up) */
                @media only screen and (min-width: 1200px) {
                    font-size: 35px;
                }
            }

            h2 {
                font-size: large;
                color: white;

                @media (min-width: 350px) and (max-width: 370px) {
                    font-size: medium;
                }
            }
        }

        @media (min-width: 350px) {
            width: 90%;
        }

        @media (min-width: 500px) {
            width: 90%;
        }

        @media (min-width: 800px) {
            width: 80%;
        }

        @media (min-width: 1200px) {
          width: 85%;
      }
    }
}
