.sponsors-us {
    flex-direction: column;
    justify-content: center;
    margin: 2% 0;

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        margin: 0 auto;
    }

    @media (max-width: 500px) {
        width: 90%;
    }

    &__content {
        &__heading {
            font-size: 1.875rem;
            line-height: 1.5em;
            text-align: center;
            margin: 2% auto auto auto;
            color: black;
            font-weight: bolder;
            overflow: hidden;

            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }

        &__section {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &__icon {
                color: #fdab78;
                font-size: 35px !important;
                margin: 10px;
            }

            &__title {
                font-size: 20px;
                text-align: center;
                margin: 2% auto auto auto;
                font-weight: bold;
                color: black;
                text-align: center;

                @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
                    margin-bottom: 2rem;
                }
            }

            &__text {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                color: black;
                text-align: center;
            }
        }

        @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
            margin: 0;
            margin-bottom: 2rem;
        }
    }

    &__past-sponsors {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__title {
            font-size: 1.875rem;
            line-height: 1.5em;
            text-align: center;
            margin: 2% auto auto auto;
            font-weight: bold;
            color: black;
            text-align: center;

            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }
    }
}
