$red: #FF0000;
$black: #000000;
$white: #D0D3D4;
$gray: #808B96;
$green: #008000;
$yellow:#CA6F1E;

* {
  padding: 0;
  margin: 0;
}

header {
  .menu {
    margin-top: -20px;
    padding: 0;
    border: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    background: $black;
    padding-top: 2%;

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 50px;
    }
  }

  .list {
    bottom: 10%;
    text-align: right;
    font-size: 19px;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

footer {
  .menu2 {
    margin: 0;
    padding: 0;
  }

  width: 100%;
  height: 90px;
  background: $black;

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    padding-top: 3%
  }

  .listfoot {
    text-align: right;
    font-size: 19px;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

#root {
  font-family: 'Lato', sans-serif;

  img.screen1 {
    width: 100%;
  }

  .screen1 {
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    p {
      text-align: center;
      color: $white;
    }
  }

  .screen2 {
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 105vh;
    width: 100%;

    p {
      text-align: center;
      color: $white;
    }
  }

  .screen3 {
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    p {
      text-align: center;
      color: $white;
    }
  }

  .contact_screen {
    background-image: url("../img/contact.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    h2 {
      text-align: center;
      padding-top: 15%;
      font-size: 50px;
      background: $white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    ul li {
      margin-right: 40vh;
      list-style-type: none;
      display: inline-block;
    }

    .listcontact {
      text-align: center;
      font-size: 10vh;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 100px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: $white;
  }

  .subtitle {
    padding-top: 0%;
    text-align: center;
    color: $white;
  }

  h2 {
    text-align: center;
    padding-top: 15%;
    font-size: 50px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}