$titles: black;

.PAST-WINNERS {

    .past-winners-title {
        padding: 3% 0% .5% 0%;
        font-weight: bold;
        color: $titles;
        text-align: center;
       

          /* Small devices (iphones, 350px and up) */
          @media only screen and (min-width: 350px) {
            font-size: 25px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 25px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 35px;
        }
    }

    .break-line {
        border: 0.5rem solid #ffb181;
        opacity: 50%;
        border-width: .5rem;
        border-radius: 25px;
        margin: 0 auto;

         /* Small devices (iphones, 350px and up) */
         @media only screen and (min-width: 350px) {
            width: 30%;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            width: 25%
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            width: 20%
        }

         /* Extra large devices (large laptops and desktops, 1200px and up) */
         @media only screen and (min-width: 1200px) {
            width: 20%;
        }
    }
  
    .winners {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
        margin: 1% 0% 0% 0%;

        a {
            flex: 1 1 auto;
            margin: 1% 0% 3% 0%;

            .winner-icon {
                color: #ffb26e;
                font-size: 35px;
                

                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (min-width: 768px) {
                    font-size: 40px;
                }

                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 992px) {
                    font-size: 45px;
                }

                /* Extra large devices (large laptops and desktops, 1200px and up) */
                @media only screen and (min-width: 1200px) {
                    font-size: 50px;
                }
            }
            h5{
                padding: 5% 0% 0% 0%;
            }
            h6{
                padding: 2% 0% 0% 0%; 
            }

            .winner-title,
            .winner-group {
                color: $titles;
            
            }

            .winner-title {
                font-weight: bold;
            }

              /* Small devices (iphones, 350px and up) */
         @media only screen and (min-width: 350px) {
            width: 30%;
        }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                width: 19%;
            }
        }
    }
}
