$titles: black;

.PAST-WINNERS {
    .past-winners-title {
        padding: 3% 0% 2% 5%;
        font-weight: bold;
        color: $titles;
    }

    .winners {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;

        a {
            flex: 1 1 auto;
            margin: 5px;

            .winner-icon {
                color: #ffb26e;
                font-size: 35px;

                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (min-width: 768px) {
                    font-size: 40px;
                }

                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 992px) {
                    font-size: 45px;
                }

                /* Extra large devices (large laptops and desktops, 1200px and up) */
                @media only screen and (min-width: 1200px) {
                    font-size: 50px;
                }
            }

            .winner-title,
            .winner-group {
                color: $titles;
            }

            .winner-title {
                font-weight: bold;
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                width: 20%;
            }
        }
    }
}
