.TITLE {
    background-image: linear-gradient(#ffb181, #ffb26e);
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @media (max-width: 700px) {
        height: 600px;
    }

    @media (max-width: 450px) {
        height: 400px;
    }

    .t-wave {
        overflow: hidden;

        .cloud {
            background: rgb(248, 243, 243);
            width: 200px;
            height: 60px;
            border-radius: 200px;
            position: relative;
            margin: 4% 0% 0% 0%;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -15px;
                left: 10px;
                background: rgb(248, 243, 243);
                width: 100px;
                height: 80px;
                border-radius: 100px;
                -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
                -moz-transform: rotate(30deg);
            }

            &:after {
                width: 120px;
                height: 120px;
                top: -55px;
                left: auto;
                right: 15px;
            }
        }

        .c1 {
            animation: cloudMoving 18s linear infinite;
            -webkit-animation: cloudMoving 18s linear infinite;
            -moz-animation: cloudMoving 18s linear infinite;
            -o-animation: cloudMoving 18s linear infinite;
            left: 230px;
        }

        .c2 {
            animation: cloudMoving 25s linear infinite;
            -webkit-animation: cloudMoving 25s linear infinite;
            -moz-animation: cloudMoving 25s linear infinite;
            -o-animation: cloudMoving 25s linear infinite;
            transform: scale(0.5);
            -webkit-transform: scale(0.5);
            -moz-transform: scale(0.5);
            -o-transform: scale(0.5);
            opacity: 0.5;
            left: 400px;
            top: -50px;
        }

        .c3 {
            animation: cloudMoving 20s linear infinite;
            -webkit-animation: cloudMoving 20s linear infinite;
            -moz-animation: cloudMoving 20s linear infinite;
            -o-animation: cloudMoving 20s linear infinite;
            transform: scale(0.75);
            -webkit-transform: scale(0.75);
            -moz-transform: scale(0.75);
            -o-transform: scale(0.75);
            opacity: 0.75;
            left: 380px;
            top: -150px;
        }

        .c4 {
            animation: cloudMoving 18s linear infinite;
            -webkit-animation: cloudMoving 18s linear infinite;
            -moz-animation: cloudMoving 18s linear infinite;
            -o-animation: cloudMoving 18s linear infinite;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            opacity: 0.8;
            left: 650px;
            top: -120px;
        }

        .c5 {
            animation: cloudMoving 22s linear infinite;
            -webkit-animation: cloudMoving 22s linear infinite;
            -moz-animation: cloudMoving 22s linear infinite;
            -o-animation: cloudMoving 22s linear infinite;
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -o-transform: scale(0.7);
            opacity: 0.7;
            left: 760px;
            top: -150px;
        }

        @keyframes cloudMoving {
            0% {
                margin-left: 100%;
            }
            100% {
                margin-left: -100%;
            }
        }

        @-webkit-keyframes cloudMoving {
            0% {
                margin-left: 100%;
            }
            100% {
                margin-left: -100%;
            }
        }
    }

    .hackmerced {
        .hackmerced-title {
            margin: -38% auto auto 57%;

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
                margin: -38% auto auto 47%;
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
                margin: -38% auto auto 57%;
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 1500px) {
                margin: -35% auto auto 58.5%;
            }
        }

        .hackmerced-text {
            font-size: 15px;
            text-align: center;
            margin: 1% auto auto 40%;
            font-weight: medium;
        }

        .hackmerced-subtext {
            font-size: 20px;
            text-align: center;
            margin: 2% auto auto 40%;
            font-weight: bold;
        }

        .subscribe-container {
            margin: 2% auto 0% 53%;
        }

        .subscribe {
            display: flex;
            width: 500px;
            padding: 1rem;
            color: #fff;
        }

        @media (max-width: 600px) {
            .subscribe {
                width: calc(100% - 2rem);
            }
        }

        // subscribe email
        .subscribe input {
            font-size: 1rem;
            flex-grow: 1;
        }

        .subscribe input:focus {
            color: white;
        }

        .email-input {
            color: white;
        }

        .subscribe * {
            border: none;
            letter-spacing: 2px;
            background-color: transparent;
            color: #fff;
        }

        .subscribe > button {
            cursor: pointer;
        }

        .subscribe > button:hover {
            color: white;
        }

        .subscribe-button {
            position: relative;
            text-transform: uppercase;
            margin: 2% auto 0% 53%;
            font-size: 20px;
            width: 35%;
            height: 6%;
            border-radius: 20px;
            transition: 0.2s all;
            text-align: center;

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                right: 5%;
                width: 90%;
                height: 5%;
                opacity: 0;
                box-shadow: 0 12px 16px 0 black;
                transition: 0.2s all;
                transition-delay: 0.1;
                background: radial-gradient(ellipse at center, rgpa (0, 0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
            }

            &:hover {
                transform: translateY(-5px);
                color: black;
            }

            &:hover:before {
                opacity: 1;
                transform: translateY(5px);
            }

            &:active {
                background: transparent;
                color: white;
            }
        }

        @media (max-width: 700px) {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            padding: 2%;

            &-title {
                margin: 0% 0 0 5% !important;
            }

            &-title,
            &-subtext,
            &-text {
                width: 80%;
            }

            &-subtext,
            &-text,
            button {
                margin: 3% 0 !important;
            }

            button {
                position: inherit;
                font-size: medium;
                height: 50px;
                width: 38%;
            }

            button:hover {
                position: inherit;
            }
        }

        @media (min-width: 1500px) {
            button {
                width: 35%;
                height: 50px;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 200ms;
        z-index: 1;

        &.light {
            background: rgba(41, 40, 40, 0.9);
        }

        .cancel {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: default;
        }

        &:target {
            visibility: visible;
            opacity: 1;
        }

        .light .subscribe {
            border-color: #aaa;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        }

        .subscribe {
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            margin: 50px auto;
            padding: 0px;
            background-image: linear-gradient(#ffb181, #ffb26e);
            border: 1px solid #666;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            position: fixed;
            border-radius: 25px;

            h3 {
                display: flex;
                color: white;
                align-items: center;
                justify-content: center;
                margin: 5% 0% 5% 0%;
                font-size: 25px;
                font-weight: bold;
                font-family: Helvetica, Arial, sans-serif;
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;

                input {
                    color: black;
                    border: none;
                    border-color: black;
                    box-shadow: none;
                    padding: 0% 0% 0% 3%;
                    border-radius: 25px;
                    outline: none;
                    background-position: 0 0;
                    height: 35px;
                    width: 80%;
                }

                .form-submit-button {
                    background: white;
                    color: #fe980f;
                    border: 0px solid #aaa;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                    padding: 10px 30px 10px 30px;
                    margin: 3% 0;

                    &:active {
                        background: linear-gradient(#fdab78, #faa55a);
                        color: white;
                    }
                }

                input .form-submit-button {
                    padding-bottom: 10px;
                }
            }

            @media (max-width: 700px) {
                width: 100%;
            }

            .form-label {
                padding: 0% 0% 1.5% 0%;
            }
        }
    }

    .hackmerced-tower {
        display: block;
        min-width: auto;
        min-height: auto;
        margin: -20% auto 0% 5%;

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            margin: -20% auto 0% 5%;
            width: 35%;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            margin: -20% auto 0% 5%;
            width: 35%;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1500px) {
            margin: -20% auto 0% 5%;
            width: 32%;
        }
    }
}
