.sub-navbar{
    border-radius: 1em;
    padding: 3em 0 3em 0em;
    margin: 0 2em 2em 2em;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);

    .break-line {
        border: 5px solid white;
        opacity: 0.5;
        border-radius: 25px;
        margin: 0 auto;
    }
    
    .hmtext {
        font-weight: bold;
    
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            padding: 0% 0% 0% 0%;
            margin: 0% 0% 50% -30%;
        }
    
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            padding: 0% 0% 0% 0%;
            margin: 0% 0% 5% -30%;
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            padding: 0% 0% 0% 0%;
            margin: 0% 0% 5% -30%;
        }
    
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            padding: 0% 0% 0% 0%;
            margin: 0% 0% 5% -30%;
        }
    
        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            padding: 0% 0% 0% 0%;
            margin: 0% 0% 5% -30%;
        }
    }
    .subnavbar-text{
        font-size: 23px;
    }

    .selected > a {
        
        border-bottom: rgba(255, 177, 129, 0.5) 0.35rem solid;
    }
    
}

