.home {
    // Home page heading
    &__heading {
        background-image: linear-gradient(#ffb181, #ffb26e);
        height: 810px;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        @media (max-width: 700px) {
            height: 600px;
        }

        @media (max-width: 450px) {
            height: 400px;
        }

        // Scrolling clouds in the background of the heading
        &__wave {
            overflow: hidden;

            &__cloud {
                background: rgb(248, 243, 243);
                width: 200px;
                height: 60px;
                border-radius: 200px;
                position: relative;
                margin: 4% 0% 0% 0%;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: 10px;
                    background: rgb(248, 243, 243);
                    width: 100px;
                    height: 80px;
                    border-radius: 100px;
                    -webkit-transform: rotate(30deg);
                    transform: rotate(30deg);
                    -moz-transform: rotate(30deg);
                }

                &:after {
                    width: 120px;
                    height: 120px;
                    top: -55px;
                    left: auto;
                    right: 15px;
                }
            }

            .c1 {
                animation: cloudMoving 18s linear infinite;
                -webkit-animation: cloudMoving 18s linear infinite;
                -moz-animation: cloudMoving 18s linear infinite;
                -o-animation: cloudMoving 18s linear infinite;
                left: 230px;
            }

            .c2 {
                animation: cloudMoving 25s linear infinite;
                -webkit-animation: cloudMoving 25s linear infinite;
                -moz-animation: cloudMoving 25s linear infinite;
                -o-animation: cloudMoving 25s linear infinite;
                transform: scale(0.5);
                -webkit-transform: scale(0.5);
                -moz-transform: scale(0.5);
                -o-transform: scale(0.5);
                opacity: 0.5;
                left: 400px;
                top: -50px;
            }

            .c3 {
                animation: cloudMoving 20s linear infinite;
                -webkit-animation: cloudMoving 20s linear infinite;
                -moz-animation: cloudMoving 20s linear infinite;
                -o-animation: cloudMoving 20s linear infinite;
                transform: scale(0.75);
                -webkit-transform: scale(0.75);
                -moz-transform: scale(0.75);
                -o-transform: scale(0.75);
                opacity: 0.75;
                left: 380px;
                top: -150px;
            }

            .c4 {
                animation: cloudMoving 18s linear infinite;
                -webkit-animation: cloudMoving 18s linear infinite;
                -moz-animation: cloudMoving 18s linear infinite;
                -o-animation: cloudMoving 18s linear infinite;
                transform: scale(0.8);
                -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                -o-transform: scale(0.8);
                opacity: 0.8;
                left: 650px;
                top: -120px;
            }

            .c5 {
                animation: cloudMoving 22s linear infinite;
                -webkit-animation: cloudMoving 22s linear infinite;
                -moz-animation: cloudMoving 22s linear infinite;
                -o-animation: cloudMoving 22s linear infinite;
                transform: scale(0.7);
                -webkit-transform: scale(0.7);
                -moz-transform: scale(0.7);
                -o-transform: scale(0.7);
                opacity: 0.7;
                left: 760px;
                top: -150px;
            }

            @keyframes cloudMoving {
                0% {
                    margin-left: 100%;
                }
                100% {
                    margin-left: -100%;
                }
            }

            @-webkit-keyframes cloudMoving {
                0% {
                    margin-left: 100%;
                }
                100% {
                    margin-left: -100%;
                }
            }
        }

        &__title {
            &__img {
                margin: -38% auto auto 57%;

                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (min-width: 768px) {
                    margin: -38% auto auto 47%;
                }

                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 992px) {
                    margin: -38% auto auto 57%;
                }

                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 1500px) {
                    margin: -35% auto auto 58.5%;
                }
            }

            &__text {
                font-size: 20px;
                text-align: center;
                margin: 2% auto auto 40%;
                font-weight: bold;
            }

            &__sub-text {
                font-size: 15px;
                text-align: center;
                margin: 1% auto auto 40%;
                font-weight: medium;
            }

            &__text,
            &__sub-text {
                color: rgba(243, 244, 246, var(1));
            }

            @media (max-width: 700px) {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin-top: 10%;
                padding: 2%;

                &__img {
                    margin: 0% 0 0 5% !important;
                }

                &__img &__text,
                &__sub-text {
                    width: 80%;
                }

                &__text,
                &__sub-text {
                    margin: 3% 0 !important;
                }
            }
        }

        &__tower {
            display: block;
            min-width: auto;
            min-height: auto;
            margin: -20% auto 0% 5%;

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
                margin: -20% auto 0% 5%;
                width: 35%;
            }

            /* Large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
                margin: -20% auto 0% 5%;
                width: 35%;
            }

            /* Extra large devices (extra large laptops and desktops, 1500px and up) */
            @media only screen and (min-width: 1500px) {
                margin: -15% auto 0% 5%;
                width: 32%;
            }
        }
    }

    &__section-title {
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 3%;

        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            font-size: 25px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 35px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 35px;
        }
    }

    &__break-line {
        border: 0.5rem solid #ffb181;
        opacity: 50%;
        border-width: 0.5rem;
        border-radius: 10px;
        margin: 0 auto 1rem auto;
        margin-bottom: 5%;

        /* Smallest devices (iphones, 350px and lower) */
        @media only screen and (max-width: 350px) {
            width: 30%;
        }

        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            width: 30%;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            width: 25%;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            width: 20%;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            width: 20%;
        }
    }

    &__about-us {
        padding: 3% 0% 2% 0%;

        &__content {
            line-height: 38px;
            color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (min-width: 1000px) {
                flex-direction: row;
            }

            &__description {
                text-decoration: bold;
                flex-direction: column;

                p {
                    text-align: left;

                    @media (max-width: 350px) {
                        width: 80%;
                        margin-left: 10%;
                        font-size: 105%;
                    }

                    @media (min-width: 350px) {
                        width: 80%;
                        margin-left: 10%;
                        font-size: 105%;
                    }

                    @media (min-width: 600px) and (max-width: 850px) {
                        margin-left: 15%;
                        width: 70%;
                    }

                    @media (min-width: 850px) {
                        width: 70%;
                        margin-left: 14%;
                        font-size: 85%;
                    }

                    @media (min-width: 1270px) {
                        width: 80%;
                        margin-left: 16%;
                        font-size: 135%;
                    }

                    @media (min-width: 1800px) {
                        width: 80%;
                        margin-left: 4%;
                        font-size: 25px;
                    }
                }

                @media (min-width: 850px) {
                    width: 100%;
                }

                @media (min-width: 1270px) {
                    width: 50%;
                }
            }

            &__team-picture {
                width: 80%;
                border-radius: 25px;

                @media (min-width: 600px) {
                    width: 70%;
                    margin-right: 2%;
                }

                @media (min-width: 1000px) {
                    margin-top: 2%;
                    width: 50%;
                }

                @media (min-width: 1270px) {
                    width: 50%;
                    max-width: 650px;
                }
            }
        }
    }

    &__past-winners {
        &__list {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;
            margin: 1% 0% 0% 0%;

            &__past-winner {
                flex: 1 1 auto;
                margin: 1% 0% 3% 0%;

                &__icon {
                    color: #ffb26e;
                    font-size: 35px;

                    /* Medium devices (landscape tablets, 768px and up) */
                    @media only screen and (min-width: 768px) {
                        font-size: 40px;
                    }

                    /* Large devices (laptops/desktops, 992px and up) */
                    @media only screen and (min-width: 992px) {
                        font-size: 45px;
                    }

                    /* Extra large devices (large laptops and desktops, 1200px and up) */
                    @media only screen and (min-width: 1200px) {
                        font-size: 50px;
                    }
                }

                &__category {
                    font-weight: bold;
                    padding: 5% 0% 0% 0%;
                }

                &__group {
                    padding: 2% 0% 0% 0%;
                }

                &__category,
                &__group {
                    color: black;
                }

                /* Small devices (iphones, 350px and up) */
                @media only screen and (min-width: 350px) {
                    width: 30%;
                }

                /* Large devices (laptops/desktops, 992px and up) */
                @media only screen and (min-width: 992px) {
                    width: 19%;
                }
            }
        }
    }

    /* HEXAGON DESIGN code taken from and edited: https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids */
    &__team-pictures {
        &__grid {
            position: relative;
            width: 80%; /* Scales original sizes */
            margin: 0 auto;
            padding: 0 0 5% 0; /* Padding under Grid component (under last row of hexagons) */

            /* Medium-Small devices (phones, portrait tablets, and large phones, 850px and lower) */
            @media only screen and (max-width: 850px) {
                position: relative;
                width: 100%; /* Scales original sizes */
                margin: 0 auto;
                padding: 0 0 5% 0; /* Padding under Grid component (under last row of hexagons) */
            }

            /* Parallelogram */
            &__items {
                margin-left: 5.5%;
                
                &__item {
                    list-style-type: none;
                    position: relative;
                    float: left;
                    width: 14.85714285714286%; /* Directly related to original hexagon size */
                    padding: 0% 0% 17% 0%; /* Directly related to original hexagon size */
                    -o-transform: rotate(-60deg) skewY(30deg);
                    -moz-transform: rotate(-60deg) skewY(30deg);
                    -webkit-transform: rotate(-60deg) skewY(30deg);
                    -ms-transform: rotate(-60deg) skewY(30deg);
                    transform: rotate(-60deg) skewY(30deg);
                    background: #fd005f;
                    overflow: hidden;
                    visibility: hidden;

                    &__hexagon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #fdbf00;
                        -o-transform: skewY(-30deg) rotate(60deg);
                        -moz-transform: skewY(-30deg) rotate(60deg);
                        -webkit-transform: skewY(-30deg) rotate(60deg);
                        -ms-transform: skewY(-30deg) rotate(60deg);
                        transform: skewY(-30deg) rotate(60deg);
                        overflow: hidden;
                    }

                    /* Makes all children of li visible */
                    * {
                        visibility: visible;
                    }

                    /* Makes every 2 child have padding on left and right of itself */
                    &:nth-child(2n + 2) {
                        margin: 0 1%;
                    }

                    /* Manually push first row to center */
                    &:nth-child(1) {
                        margin-left: 8.6%;
                    }

                    /* Translates each child in the second row to the right a little bit, and moves them down. */
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(8),
                    &:nth-child(9) {
                        margin-top: -3.35%;
                        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    }

                    /* 6th child (2nd row): Move into interlocking position, which moves the rest of the children in the row. */
                    &:nth-child(6) {
                        margin-left: 9%;
                    }

                    /* Forces 10th child to go to the next row. */
                    &:nth-child(9) {
                        margin-right: 20%;
                    }

                    /* Translates each child in the third row down */
                    &:nth-child(10),
                    &:nth-child(11),
                    &:nth-child(12),
                    &:nth-child(13),
                    &:nth-child(14) {
                        margin-top: -3.35%;
                        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    }

                    /* Forces 15th child to go to the next row. */
                    &:nth-child(14) {
                        margin-right: 20%;
                    }

                    /* Manually push fourth row to center */
                    &:nth-child(15) {
                        margin-left: 24.7%;
                    }

                    /* Translates each child in the fourth row down */
                    &:nth-child(15),
                    &:nth-child(16) {
                        margin-top: -3.35%;
                        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                        transform: translateX(50%) rotate(-60deg) skewY(30deg);
                    }
                }
            }
        }

        .clear:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}
