.entire-container {
    background-color: #272831;
    text-align: center;

    h1 {
        color: white;
        font-size: 40px;
        padding: 5% 0% 3% 0%;
    }

    .flex-container {
        color: #c1c0cd;
        display: inline-flex;

        h2 {
            
            font-size: 32px;
            font-weight: normal;
            text-shadow: 0px 0px 10px #f65331, 0px 0px 10px #ff785a;
        }
        .hackathon-tracks {
            position: relative;
            right: 4.5px;
            width: 50%;
            margin: auto;
        }
        p {
            margin: auto;
            max-width: 80%;
            font-size: 18px;
        }

        .trackone {
            padding: 0% 1% 0% 1%;
        }
        .tracktwo {
            padding: 8% 1% 0% 1%;
        }
        .trackthree {
            padding: 0% 1% 0% 1%;
        }

        /* Everything under 900px width - responsiveness */
        @media only screen and (max-width: 900px) {
            display: inline;

            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 25px;
            }
            .hackathon-tracks {
                position: relative;
                right: 4.5px;
                width: 30%;
                margin: auto;
                padding: 3% 0;
            }
            p {
                margin: auto;
                max-width: 80%;
                padding: 3% 0;
            }

            .trackone {
                padding: 3% 1% 0% 1%;
            }
            .tracktwo {
                padding: 5% 1% 0% 1%;
            }
            .trackthree {
                padding: 5% 1% 0% 1%;
            }
        }
    }
}
