.item-box {
    background-color: #eeebf5;
    text-align: center;
    border-radius: 10px;
    box-shadow: -3px -3px 10px 2px white, 3px 3px 10px 2px rgb(192, 192, 192); //box-shadow: none|h-offset v-offset blur spread color
    border: 1px solid #eeebf5;
}