.design-prompt {
    padding: 3% 0% 2% 0%;
    background-color: #0d0721;

    &__title {
        font-family: 'Montserrat', sans-serif;
        color: #eeebf5;
        text-align: center;
        padding: 16px 0;
        font-size: 32px;
        
        @media only screen and (min-width: 1000px) {
            text-align: right;
            padding-right: 10vw;
        }

    //     /* Small devices (iphones, 350px and up) */
    //     @media only screen and (max-width: 320px) {
    //         font-size: 30px;
    //     }

    //     /* Medium devices (landscape tablets, 768px and up) */
    //    /* @media only screen and (min-width: 768px) {
    //         font-size: 35px;
    //     }
    }

    &__content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 6vw;

        &__description {
            flex-grow: 1;
            background-image: linear-gradient(#b2128e, #80a0cf);
            border-radius: 10px;
            transform: translate(4vw, 4vw); /* Shifts the article diagonally by percentage of the screen's width*/
            margin: 0 4vw 4vw 0; /* extend the bounding box of the <section> by 3vw in the direction of the background shift .*/

            &__text {
                color: black;
                font-size: x-small; 
                background-color: rgba(238, 235, 245, 0.8);
                border-radius: 10px;
                transform: translate(-4vw, -4vw);  /* Shift the child <p/> back the other way */
                padding: 7vw;
                font-size: 1em;
            }
        }

        &__logo {
            width: 20vw;
            height: 20vw;
            flex: 0 0 20vw;

            @media only screen and (max-width: 1000px) {
                margin-bottom: 10vw;
            }
            
            @media only screen and (min-width: 1001px) {
                margin-right: 3vw;
            }
        }

        @media only screen and (max-width: 1000px) {
            flex-direction: column-reverse; /* Makes bulb above the text on the y axis */
        }
    }
}
