.DESIGN__PROMPT {
    background-color: #0d0721;

    .DESIGN__PROMPT__title {
        color: #eeebf5;
        font-size: 32px;
        text-align: center;
        padding: 5% 0% 0% 0%;
    }

    .DESIGN__PROMPT__box {
        position: relative;
        width: 60%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        line-height: 0px;
    }
    #one__design__box {
        top: 0px;
        left: 300px;
        z-index: 2;
        background-color: #eeebf5;
        opacity: 80%;
    }

    #two__design__box {
        top: -250px;
        left: 350px;
        z-index: 1;
        background-image: linear-gradient(#b2128e, #80a0cf);
    }

    .DESIGN__PROMPT__content__description__text{
        z-index: 3;
        top: -510px;
        left: 380px;
        position: relative;
        color: rgb(44, 34, 34);
        width: 50%;
    }

      .DESIGN__PROMPT__icon{
          width: 17%;
          margin: 0% 0% 0% 10%; 
          padding: 0% 0% 0% 0%;
      }
}
