.DESIGNPROMPT {
    background-color: #0d0721;

    .ui-ux-title {
        color: #eeebf5;
        font-size: 32px;
        text-align: center;
        padding: 3% 0% 0% 0%;
    }
    .circle {
        background: #f00;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    article {
        float: left;
    }
}
