.navFont{
    font-size: 30px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footerText{
    font-size: 23px;
    color: white;
}
