#underline::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s
}

#underline:hover::after{
    width: 100%;
    transition: width .3s;
}

#underline{
    font-size: 30px;
}

.position{
    position:static;
}


