.MLH {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 1%;

    @media (min-width: 100px) {
        width: 60px;
    }

    @media (min-width: 600px) {
        width: 80px;
    }

    @media (min-width: 700px) {
        width: 100px;
    }

    @media (min-width: 1100px) {
        width: 100px;
    }
}

.break-line {
    border: 5px solid white;
    opacity: 0.5;
    border-radius: 25px;
    margin: 0 auto;
}

.hm-text {
    font-weight: bold;
    font-size: 18px;
}
