.SponsorsDesign {
    background-color: #eeebf5;
    padding: 4% 3% 0% 0%;
    max-width: 100%;
    height: auto;



    .title5 {
        font-weight: bolder;
        color: #b486ce;

        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            font-size: 18px;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 20px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 30px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 35px;
        }
    }




}
