.contact-body {
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;

    @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
        flex-direction: column;

        margin: 0 auto;
    }

    .splash-content {
        .Header {
            font-size: 54px;
            line-height: 1.5em;
            text-align: center;
            margin: 0% auto auto auto;
            color: black;
            font-weight: bolder;
            overflow: hidden;
        }

        .splash-section {
            display: block;
            margin-bottom: 2rem;

            h4 {
                font-size: 20px;
                text-align: center;
                margin: 1% auto auto auto;
                font-weight: bold;
                color: black;
                text-align: center;
            }

            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                color: black;
                text-align: center;
            }
        }

        @media only screen and (max-width: 900px), only screen and (max-height: 640px) {
            margin: 0;
            margin-bottom: 2rem;

            h1 {
                margin-bottom: 2rem;
            }
        }
    }

    .footer {
        color: #ffb26e;
        background-color: white;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 45px;

        text-align: center;

        .fa {
            color: #ffb26e;
            font-size: 35px !important;
            margin: 10px;
        }
        .fa:hover {
            -webkit-filter: brightness(20%);
            -moz-filter: brightness(20%);
            -o-filter: brightness(20%);
            -ms-filter: brightness(20%);
            filter: brightness(20%);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .credits {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            .copyright {
                overflow: hidden;
            }
        }
    }
}
