.footer {
  color: white;
  background-color: #ffb26e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  padding-bottom: 5px;
  text-align: center;


  .fa {
    color: white;
    font-size: 35px !important;
    margin: 10px;

  }

  .fa:hover{
    -webkit-filter: brightness(20%);
    -moz-filter: brightness(20%);
    -o-filter: brightness(20%);
    -ms-filter: brightness(20%);
    filter: brightness(20%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }

  .credits {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;

    .copyright {
      overflow: hidden;
    }
  }


}
