.footer {
    color: white;
    background-color: #ffb26e;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: 45px;
    padding-bottom: 30px;
    text-align: left;

    /* Small devices (iphones, 350px and up) */
    @media only screen and (min-width: 350px) {
        padding-bottom: 60px;
    }

    /* Medium devices (landscape tablets, 600px and up) */
    @media only screen and (min-width: 600px) {
        padding-bottom: 5px;
    }

    /* Medium devices (landscape tablets, 700px and up) */
    @media only screen and (min-width: 700px) {
        padding-bottom: 5px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        padding-bottom: 10px;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        padding-bottom: 30px;
    }

    .HackMerced {
        padding-top: 25px;
        padding-left: 110px;
        color: white;
        font-size: 23px;

        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            padding-top: 15px;
            padding-left: 32px;
            font-size: 15px;
        }

        /* Medium devices (landscape tablets, 600px and up) */
        @media only screen and (min-width: 600px) {
            padding-top: 14px;
            padding-left: 18px;
            font-size: 15px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            padding-top: 16px;
            padding-left: 32px;
            font-size: 17px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            padding-top: 15px;
            padding-left: 32px;
            font-size: 19px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            padding-top: 25px;
            padding-left: 110px;
            font-size: 23px;
        }
    }

    .Footer-social {
        position: absolute;
        left: 100px;
        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            position: absolute;
            left: 25px;
        }

        /* Medium devices (landscape tablets, 600px and up) */
        @media only screen and (min-width: 600px) {
            left: 10px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            position: absolute;
            left: 25px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            position: absolute;
            left: 100px;
        }
    }

    .Footer-navbar {
        //text-align: right;
        //float: right;
        font-size: 17px;
        position: relative;
        left: 750px;
        top: -29px;
        //padding-bottom: 30px;
        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            font-size: 12px;
            position: relative;
            left: 35px;
            top: 60px;
            padding-bottom: 30px;
        }

        /* Medium devices (landscape tablets, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 10.5px;
            position: relative;
            left: 345px;
            top: -15px;
            padding-bottom: 10px;
        }

        /* Medium devices (landscape tablets, 700px and up) */
        @media only screen and (min-width: 700px) {
            font-size: 11px;
            position: relative;
            left: 390px;
            top: -17px;
            padding-bottom: 5px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 14px;
            position: relative;
            left: 540px;
            top: -16px;
            padding-bottom: 10px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 17px;
            position: relative;
            left: 750px;
            top: -29px;
        }
    }

    .fa {
        color: white;
        font-size: 52px !important;
        margin: 10px;

        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            font-size: 25px !important;
        }

        /* Medium devices (landscape tablets, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 26px !important;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 30px !important;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 45px !important;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 52px !important;
        }
    }

    .fa:hover {
        -webkit-filter: brightness(20%);
        -moz-filter: brightness(20%);
        -o-filter: brightness(20%);
        -ms-filter: brightness(20%);
        filter: brightness(20%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .credits {
        //align-items: center;
        display: flex;
        position: relative;
        font-size: 16px;
        // right: 120px;
        //top: 2660px;
        text-align: center;

        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            font-size: 9px;
            right: -110px;
            top: 50px;
        }

        /* Medium devices (landscape tablets, 500 and up) */
        @media only screen and (min-width: 500px) {
            font-size: 9.5px;
            right: -540px;
            top: -90px;
        }

        /* Medium devices (landscape tablets, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 9px;
            right: -460px;
            top: -70px;
        }

        /* Medium devices (landscape tablets, 700px and up) */
        @media only screen and (min-width: 700px) {
            font-size: 9.5px;
            right: -515px;
            top: -65px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 12px;
            right: -715px;
            top: -85px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 15px;
            display: flex;
            position: absolute;
            right: 120px;
            top: 2660px;
            text-align: center;
        }

        .copyright {
            overflow: hidden;
        }
    }
}
