.signup {
    padding: 3% 0% 3% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 66px);

    @media only screen and (max-height: 1024px) {
        min-height: calc(90vh - 48px);
    }

    &__container {
        position: relative;
        display: inline-block;
        width: 50vw; // sets width of the container. Changing this means you'll need to recenter the container with margin-left.
        height: 100%;
        margin-top: 1.2%;
        margin-bottom: 1%;
        background-image: linear-gradient(#ffb181, #ffb26e);
        border-radius: 65px;

        @media only screen and (max-width: 1100px) {
            width: 60%;
        }

        @media only screen and (max-width: 740px) {
            width: 68%;
        }

        &__logo {
            display: block;
            margin: auto;
            padding-top: 2.5%;
            border-radius: 60px;

            @media only screen and (max-width: 740px) {
                width: 25%;
            }

            /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
            @media only screen and (max-width: 350px) {
                width: 20%;
            }
        }

        &__title {
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 1% 0% 1% 0%;

            @media only screen and (min-width: 1100px) {
                font-size: 35px;
            }

            @media only screen and (max-width: 1100px) {
                font-size: 30px;
            }

            @media only screen and (max-width: 740px) {
                font-size: 25px;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap; // makes 'Create an Account' go under 'Forgot Password?' at lower resolutions
            justify-content: space-around; //  puts even space on the left and right of contents
            padding: 0% 4% 3% 4%;

            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                opacity: 1;
                /* Firefox */
                font-weight: lighter;
                font-size: 18px;
                position: fixed;
                text-align: left;
                color: rgba(0, 0, 0, 0.301);

                :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    font-weight: lighter;
                }

                ::-ms-input-placeholder {
                    /* Microsoft Edge */
                    font-weight: lighter;
                }
            }

            &__first-name,
            &__last-name,
            &__email,
            &__password {
                width: 80%;
                height: 50px;
                border-radius: 65px;
                display: block;
                /* offset-x | offset-y | blur-radius | color */
            }

            &__already-member {
                color: white;
                font-weight: normal;
                display: inline;
                text-align: center;
                text-decoration: underline;
                margin-bottom: 15px;

                @media only screen and (max-width: 1100px) {
                    font-size: 18px;
                }

                @media only screen and (max-width: 740px) {
                    font-size: 15px;
                }

                /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
                @media only screen and (max-width: 350px) {
                    font-size: 15px;
                }
            }

            &__submit-button {
                width: 45%;
                height: 70px;
                border-radius: 65px;
                background-color: white;
                color: #ffb181;
                font-weight: bold;
                font-size: 25px;
                margin: auto auto 5% auto;
                display: block;

                @media only screen and (max-width: 500px) {
                    width: 80%;
                }

                @media only screen and (min-width: 1100px) {
                    font-size: 25px;
                    width: 70%;
                }

                @media only screen and (max-width: 1100px) {
                    font-size: 20px;
                    width: 70%;
                }

                /* Small devices (phones, portrait tablets, and large phones, 600px and lower) */
                @media only screen and (max-width: 500px) {
                    font-size: 18px;
                    width: 80%;
                }
            }

            input[type="text"],
            input[type="email"],
            input[type="password"],
            select {
                display: inline-block;
                margin: 15px auto;
                color: black;
                text-align: left;
                padding: 0% 0% 0% 4%; // moves location of select (input) to the right, which also moves the placeholder
            }

            label {
                padding: 0% 0% 0% 11%;
            }
        }
    }
}
