@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
body {
    overflow: none;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

*:focus,
button:focus {
    outline: none !important;
}
