@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html,
body {
    overflow: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

*:focus,
button:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;

    &, &:visited, &:hover, &:active {
        color: inherit;
      }
}
