.grid-container {
    background-color: var(--background);
    .texts {
    }
    .images {
    }
    .title {
        margin: auto auto auto auto;
    }
    .h2 {
        font-size: 
    }
    .h3 {
    }
    .button {
    }
}
