.grid-container {
    background-color: var(--background);
    .texts {
        //margin: auto auto auto auto;
        margin: 15% 5% 5%;
        .title {
            font-size: 24pt;
        }
        .h2 {
            font-size: 14pt;
        }
        .button {
        }
    }
    .images {
    }
}
.h3 {
    width: 150px;
    border: 1px solid #000000;
    word-wrap: break-word;
    font-size: 12pt;
}
