.grid-container {
    background-color: var(--background);
    .texts {
        margin: auto auto auto auto;
        .title {
            font-size: 24pt;
            margin: auto auto auto auto;
        }
        .h2 {
            font-size: 14pt;
        }
        .h3 {
            font-size: 12pt;
        }
        .button {
        }
    }
    .images {
    }
}
