.grid-container {
    background-color: var(--background);
    .texts {
        
        .title {
            
            font-size: 24pt;
        }
        .h2 {
            font-size: 14pt;
        }
        .h3 {
            font-size: 12pt;
        }
        .button {
        }
    }
    .images {
    }
    
}
