.hackmerced-faq {
    background-color: #272831;
    padding: 5% 0%;

    &__title {
        font-size: 32px;
        text-align: center;
        padding: 10% 0% 3% 0%;
        background-color: #272831;
    }
}