.hackmercedvi-faq {
    background-color: #272831;
    padding: 5% 0%;
    &__title {
        font-size: 40px;
        text-align: center;
        padding: 10% 0% 3% 0%;
        background-color: #272831;
        
        @media only screen and (max-width: 900px) {
            font-size: 30px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 25px;
            width: 80%;
            margin: 0 auto;
        }
    }
}
