.about-us-design {
    padding: 3% 0% 2% 0%;
    background-color: #0d0721;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1000px) {
        margin-bottom: -200px;
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        color: #eeebf5;
        text-align: center;
        padding: 0% 0% % 0%;

        /* Small devices (iphones, 350px and up) */
        @media only screen and (max-width: 768px) {
            font-size: 30px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 35px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 35px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 0 0 0;

        &__description {
            width: 80%;
            margin-top: 2%;
            height: 75vh;

            @media only screen and (max-width: 1000px) {
                height: 45vh;
            }

            @media only screen and (max-width: 1200px) {
                font-size: medium;
            }

            &__box {
                position: relative;
                width: 100%;
                height: 300px;
                border-radius: 10px;
                overflow: hidden;
                line-height: 0px;
                margin-left: 6%;
            }

            .one-design-box {
                top: 0px;
                left: -40px;
                z-index: 2;
                background-color: #eeebf5;
                opacity: 80%;
            }

            .two-design-box {
                top: -260px;
                left: 0px;
                z-index: 1;
                background-image: linear-gradient(#b2128e, #80a0cf);
            }

            &__text {
                z-index: 3;
                top: -530px;
                left: 10px;
                position: relative;
                color: black;
                width: 85%;
                font-size: x-small;

                @media only screen and (min-width: 600px) {
                    left: 6vw;
                    font-size: small;
                }

                @media only screen and (max-width: 300px) {
                    left: 0;
                    top: -580px;
                }
            }
        }

        &__logo {
            width: 20%;
            height: 20%;
            margin: 0 5%;

            @media only screen and (max-width: 300px) {
                width: 40%;
            }
        }

        @media only screen and (min-width: 1000px) {
            flex-direction: row;

            &__description {
                width: 60%;

                &__text {
                    left: 5vw;
                }
            }

            &__logo {
                align-self: baseline;
            }
        }
    }
}
