$titles: white;
.ABOUTUSDESIGN {
    padding: 3% 0% 2% 0%;
    background-color: #0d0721;

    h1 {
       
        font-family: 'Montserrat', sans-serif;
        color: $titles;
        text-align: justify;

        /* Small devices (iphones, 350px and up) */
        @media only screen and (min-width: 350px) {
            font-size: 25px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 35px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 35px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            font-size: 35px;
        }
    }

    .about {
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //padding: 1% 0% 6% 0%;

        @media (min-width: 1000px) {
            flex-direction: row;
        }

        &-description {
            border-radius:2em;
            text-decoration: bold;
            flex-direction: column;
            // box-shadow: 55px 50px #b486ce;
            background-image: linear-gradient(#b2128e, #80a0cf);
            h1 {
                font-weight: bolder;
                margin: 3% 0 2% 0%;
                text-align: center;
            }

            p {
                text-align: left;
                padding: 1% 5% 1% 5%;

                @media (max-width: 350px) {
                    width: 80%;
                    font-size: 12px;
                }

                @media (min-width: 350px) {
                    width: 80%;
                    font-size: 12px;
                }

                @media (min-width: 600px) and (max-width: 850px) {
                    width: 70%;
                    font-size: 13px;
                }

                @media (min-width: 850px) {
                    width: 70%;
                    font-size: 15px;
                }

                @media (min-width: 1270px) {
                    width: 100%;
                    font-size: 17px;
                }

                @media (min-width: 1800px) {
                    width: 80%;
                    font-size: 25px;
                }
            }

            @media (min-width: 850px) {
                width: 100%;
            }

            @media (min-width: 1270px) {
                width: 100%;
                padding-left: 2em;
            }
        }

        .aboutUsText {
            border-radius: 2em;
            background-color: rgb(238, 235, 245);
            opacity: 80%;
            padding: 5% 0% 5% 0%;
        }

        .image{
            background-color:rgb(238, 235, 245);
            width: 20%;
            border-radius: 25%; //pixel value instead
             // box-shadow: -6px -6px 16px #fff, 6px 6px 16px #696865;
             @media (min-width: 600px) {
                 width: 40%;
                 margin-right: 2%;
             }
 
             @media (min-width: 600px) {
                 margin-top: 2%;
                 width: 40%;
             }
 
             @media (min-width: 600px) {
                 width: 40%;
                 max-width: 650px;
             }

        }

        .LOGO {
            border-radius: 50%; //pixel value instead
            //box-shadow: 10px 10px #b486ce;
            margin-top: 0%;
            margin-bottom: 30%;
            margin-right: 0%;
            margin-left: 20%;
            //background-color: rgb(238, 235, 245);
            padding: 1em;
            

            @media (min-width: 400px) {
                width: 40%;
                margin-right: 20%;
                margin-top: -5%;

            }

            @media (min-width: 600px) {
                width: 70%;
                margin-right: 2%;
                margin-top: -5%;

            }

            @media (min-width: 1080px) {
                margin-top: -35%;
                width: 50%;
            }

          
            @media (min-width: 1270px) {
                width: 50%;
                margin-top: -35%;
                max-width: 650px;
            }

            @media (min-width: 1920px) {
                width: 50%;
                margin-top: -65%;
                max-width: 650px;
            }
        }
    }
}
